<h2 mat-dialog-title>Rate {{data.restaurant_name}}</h2>
<div mat-dialog-content class="mat-typography">
    <div class="rate-form">
        <div class="full-width">
            Flavor
            <mat-slider thumbLabel
          min="0" max="5" step="1.0" [(ngModel)]="data.flavorRating" name="flavorRating" ></mat-slider>
            
        </div>
        <div class="full-width">
          Environment 
          <mat-slider thumbLabel
          min="0" max="5" step="1.0" [(ngModel)]="data.environmentRating" name="environmentRating"></mat-slider>
      </div>
        <div class="full-width">
          Service 
          <mat-slider thumbLabel
            min="0" max="5" step="1.0" [(ngModel)]="data.serviceRating" name="serviceRating"></mat-slider>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button value="false" [mat-dialog-close]="data" >Cancel</button>
  <button mat-raised-button color="primary" (click)="data.status='true'" [mat-dialog-close]="data" >Rate</button>
</div>