<div class="body">
    <div class="title">
        <span class="material-icons"  routerLink="/home-component" routerLinkActive="active">
            arrow_back_ios
            </span>
        <h2>{{this.restaurant_name}}</h2>
    </div>
    <div class="notification">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
      </div>
      <div class="notification">
        <ngb-alert *ngIf="failMessage" type="warning" (close)="failMessage = ''">{{ failMessage }}</ngb-alert>
      </div>

    <div class="content">
        <div class="info">
            <div class="info-item">
                <p>{{this.restaurant_info.category}}</p>
            </div>
            <br>
            <div class="info-item">
                <mat-label>Address</mat-label>
                <br>
                <p>
                    {{this.restaurant_info.address}}
                </p>
            </div>
            <br>
            <br>
            <div class="info-item">
                <mat-label>Contact</mat-label>
                <br>
                <p>
                    {{this.restaurant_info.phone}}
                </p>
                
            </div>
            <br>
            <br>
            <div class="info-item">
                <mat-label>Ratings</mat-label>
                <br>
                <p>
                    General: 
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                      </ng-template>
                      
                      <ngb-rating [(rate)]="this.restaurant_info.general_ratings" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </p>
             
                <p>
                    Flavor: 
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                      </ng-template>
                      
                      <ngb-rating [(rate)]="this.restaurant_info.flavor_ratings" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </p>
               
                <p>
                    Environment: 
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                      </ng-template>
                      
                      <ngb-rating [(rate)]="this.restaurant_info.environment_ratings" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </p>
                
                <p>
                    Service: 
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                        </span>
                      </ng-template>
                      
                      <ngb-rating [(rate)]="this.restaurant_info.service_ratings" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                </p>
                <button mat-button color="accent" (click)="openRateDialog(this.restaurant_id, this.restaurant_name)">Rate</button>
                <button mat-button *ngIf="adminAccount" (click)="deleteRestaurant()">Delete</button>
            </div>
        </div>
        <div class="charts">
            <h2> People who visited {{this.restaurant_name}} are ...</h2>
            <button mat-button color="accent" (click)="getVisitedCustomerTags(displayLimit)">Display</button> at most
            <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="displayLimit" name="displayLimit">
                <mat-option *ngFor="let option of displayOptions" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <div>
                <angular-tag-cloud
                  [data]="cloudData"
                  (click) = "openData($event)"
                  [height] = 500
                  [zoomOnHover]="zoomOnHoverOptions">
                </angular-tag-cloud>
              </div>
        </div>
        <div class="tag-column">
            <mat-label> People think {{this.restaurant_name}} is ... </mat-label>
            <mat-chip-list #chipList aria-label="Tag selection" class="tagList">
                <mat-chip *ngFor="let tag of restaurant_tags" [selectable]="selectable"
                        >
                {{tag.name}}   {{tag.freq}}
                </mat-chip>
                </mat-chip-list>
                <button mat-button color="accent" (click)="openTagDialog(this.restaurant_id)">Tag {{this.restaurant_name}} Here</button>

        </div>
    
    </div>
</div>

