<div class="body">
    <div class="title">
        <span class="material-icons"  routerLink="/home-component" routerLinkActive="active">
            arrow_back_ios
            </span>
        <h2>{{this.restaurant_name}}</h2>
    </div>

    <div class="content">
        <div class="info">
            <div class="info-item">
                <p1>{{this.category}}</p1>
            </div>
            <br>
            <div class="info-item">
                <mat-label>Address</mat-label>
                <br>
                <p1>
                    {{this.address}}
                </p1>
            </div>
            <br>
            <br>
            <div class="info-item">
                <mat-label>Contact</mat-label>
                <br>
                <p1>
                    {{this.phone}}
                </p1>
                
            </div>
            <br>
            <br>
            <div class="info-item">
                <mat-label>Ratings</mat-label>
                <br>
                <p1>
                    {{this.rating}}
                </p1>
                
            </div>
        </div>
        <div class="charts">
            COMING SOON..
        </div>
        <div class="tag-column">
            <p> People think {{this.restaurant_name}} is ... </p>
            <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of restaurant_tags" [selectable]="selectable"
                        >
                {{tag.name}}  
                </mat-chip>
                </mat-chip-list>
        </div>
    
    </div>
</div>

