.body {
    vertical-align: baseline;

}
.title {
    display: inline-flex;
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    color:coral;
}

.material-icons {
    padding-top: 5px;
}
h2 {
    margin-bottom: 5px;
    font-size: 20pt;
}

.content {
    display: inline-flex;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 20px;
    width:100%;
}

.info {
    flex: 1;
}

.info-item {
    width: 100%;
}
mat-label {
    width: 100%;
    font-size: 16pt;
    color: coral;
}



.charts {
    flex: 3;
    padding-inline-end: 20px;
}
.tag-column {
    flex: 1;
}


mat-chip-list {
    padding-top: 10px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #d3d3d3;
  }
  .full {
    color: lightcoral;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: lightcoral;
  }