<div class="body">
    <div class="title">
        <span class="material-icons"  routerLink="/home-component" routerLinkActive="active">
            arrow_back_ios
            </span>
        <h2>{{this.restaurant_name}}</h2>
    </div>

    <div class="content">
        <div class="info">
            <div class="info-item">
                <p>{{this.category}}</p>
            </div>
            <br>
            <div class="info-item">
                <mat-label>Address</mat-label>
                <br>
                <p>
                    {{this.address}}
                </p>
            </div>
            <br>
            <br>
            <div class="info-item">
                <mat-label>Contact</mat-label>
                <br>
                <p>
                    {{this.phone}}
                </p>
                
            </div>
            <br>
            <br>
            <div class="info-item">
                <mat-label>Ratings</mat-label>
                <br>
                <p>
                    {{this.rating}}
                </p>
                <button mat-button color="accent" (click)="openRateDialog(this.restaurant_id, this.restaurant_name)">Rate {{this.restaurant_name}} Here</button>

            </div>
        </div>
        <div class="charts">
            COMING SOON..
        </div>
        <div class="tag-column">
            <mat-label> People think {{this.restaurant_name}} is ... </mat-label>
            <mat-chip-list #chipList aria-label="Tag selection" class="tagList">
                <mat-chip *ngFor="let tag of restaurant_tags" [selectable]="selectable"
                        >
                {{tag.name}}   {{tag.freq}}
                </mat-chip>
                </mat-chip-list>
                <button mat-button color="accent" (click)="openTagDialog(this.restaurant_id)">Tag {{this.restaurant_name}} Here</button>

        </div>
    
    </div>
</div>

