.restaurant-list {
}

.restaurant-card {
    max-width: 400px;
  }
  
img {
  height: 300px;
  width: max-content;
}
.restaurant-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.profile-form {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    display: list-item;

  }

  
.full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.example-chip-list {
    width: 100%;
  }

.profile-action {
    text-align: right;
    margin-right: 300px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: lightcoral;
  ;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: lightcoral;
}
.search-form {
  padding-left: 50px;
  padding-right: 50px;
}