<mat-tab-group>
    <mat-tab label="Explore">
 
        <mat-grid-list class="restaurant-list" cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card>
                    <!-- <img mat-card-lg-image src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">  -->
                    <mat-card-title>
                        <h4> Teamoji </h4>
                    </mat-card-title>
                    <mat-card-content>
                        <p> matcha loveeee. </p>
                    </mat-card-content>
                    
                    <button mat-raised-button color="primary" >
                        Rate
                    </button>

                    <button mat-raised-button color="basic" >
                        Learn More
                    </button>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <!-- <img mat-card-lg-image src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">  -->
                    <mat-card-title>
                        <h4> Teamoji </h4>
                    </mat-card-title>
                    <mat-card-content>
                        <p> matcha loveeee. </p>
                    </mat-card-content>
                    
                    <button mat-raised-button color="primary" >
                        Rate
                    </button>

                    <button mat-raised-button color="basic" >
                        Learn More
                    </button>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            
        </mat-grid-list>
        
    </mat-tab>
    
    
    <mat-tab label="Profile"> 
        Profile 
    </mat-tab>
  </mat-tab-group>